@import "../../../css/variables";

.btn { 
  width: max-content;
  text-decoration: none;
  color: $white;
  background-color: $color_4;
  font-family: $font_2;
  font-weight: 500;
  font-size: 1.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: $color_2;
  transition: $transition_hover;
}
.btn:active {
  box-shadow: none;
  transform: translateY(0.1rem);
}

.btn-oval { 
  height: 3.2rem;
  padding: 0 1.6rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  img {
    width: 1.8rem;
    margin-right: 0.6rem;
  }
  span {
    display: none;
  }
}

.btn-circle { 
  width: 4.8rem;
  height: 4.8rem;
  padding: 1rem;
  border-radius: 20rem;
  display: flex;
  align-items: center;
}
